[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
transbank-sdk = "==4.0.0"
django-rest-framework = "*"
mysqlclient = {path = "./mysqlclient-1.4.6-cp37-cp37m-win_amd64.whl"}
django-autoslug = "==1.9.9"
jwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
