[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.10"
certifi = "==2023.5.7"
cffi = "==1.15.1"
charset-normalizer = "==3.1.0"
cryptography = "==40.0.2"
django = "==3.1"
transbank-sdk = "==4.0.0"
django-rest-framework = "*"
mysqlclient = {path = "./mysqlclient-1.4.6-cp37-cp37m-win_amd64.whl"}
django-autoslug = "==1.9.9"
jwt = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
