{% extends '../layout/base.html' %}

{% load static %}

{% block content %}

<div class="section" >
    <div class="container" >

        <h1>Bienvenido/a a El Deshuesadero,</h1>

        <p class"text">el lugar perfecto para que puedas publicar autos de segunda mano, la compra de este y repuestos de autos de alta calidad a precios accesibles. Somos una empresa dedicada a ofrecer soluciones automotrices a nuestros clientes, y llevamos más de 20 años en el mercado.</p>

        <p class"text">Nuestro equipo está compuesto por expertos en el sector automotriz, quienes se encargan de seleccionar cuidadosamente cada vehículo y repuesto que ofrecemos en nuestra página. Trabajamos arduamente para asegurarnos de que cada uno de nuestros productos cumpla con altos estándares de calidad y fiabilidad.</p>
            
        <p class"text">En El Deshuesadero, valoramos la satisfacción del cliente por encima de todo, por lo que nos esforzamos por brindar un servicio excepcional. Nos encargamos de guiar a nuestros clientes durante todo el proceso de compra, desde la publicación y/o selección del vehículo o repuesto adecuado hasta la entrega del mismo en su domicilio.</p>
            
        <p class"text">Además, ofrecemos opciones de financiamiento para aquellos clientes que necesitan ayuda para adquirir su vehículo o repuesto. Trabajamos con las mejores instituciones financieras para ofrecer tasas de interés competitivas y plazos cómodos para nuestros clientes.</p>
            
        <p class"text">En El deshuesadero, nos apasiona el mundo de los autos y nos encanta compartir esa pasión con nuestros clientes. Estamos comprometidos con ofrecer un servicio de calidad y garantizar la satisfacción de nuestros clientes en cada compra.</p>
         

        

        <div class="row" ></div>
    </div>

</div>


{% endblock %}