body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1rem solid rgb(0, 255, 42);
    border-radius: 20rem;
    padding: 2rem;
    width: 50rem;
}