{% extends '../layout/base.html' %}
{% load static %}
{% load utilidades %}
{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- Order Details -->
                <div class="order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Tu pedido</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUCTO</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products">

                            {% for item in carrito %}
                            
                            <div class="order-col">
                                <div>{{item.cantidad}}x {{item.nombre}}</div>
                                <div>${{item.suma}}</div>
                                <a href="{% url 'delete_product' item.producto_id %}" class="primary-btn">Eliminar</a>
                            </div>
                            
                            {% endfor %}

                            
                        </div>
                        <div class="order-col">
                            <div>Envío</div>
                            <div><strong>GRATIS</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total">${{user.id|getSubTotal}}</strong></div>
                        </div>
                    </div>
                    <div class="payment-method">
                        {% comment %} <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1">
                            <label for="payment-1">
									<span></span>
									Envío con grua
								</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="terms">
                            <label for="terms">
								<span></span>
								Acepto los <a href="#">Términos y condiciones</a>
							</label>
                        </div> {% endcomment %}
                        <a href="#" class="primary-btn order-submit">Realizar pedido</a>
                    </div>
                    <!-- /Order Details -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->

{% endblock %}