{% extends '../layout/base.html' %}
{% load static %}
{% load utilidades %}
{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- Order Details -->
                <div class="order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Tu pedido</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col ">
                            <div><strong class="text-white">PRODUCTO</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products">

                            {% for item in carrito %}
                            
                            <div class="order-col">
                                <div><a href="{% url 'delete_product' item.producto_id %}"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#D10024" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M4 7l16 0" />
                                    <path d="M10 11l0 6" />
                                    <path d="M14 11l0 6" />
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg></a>
                                {{item.cantidad}}x {{item.nombre}}</div>
                                <div>${{item.suma}}</div>
                                
                            </div>
                            
                            {% endfor %}

                            
                        </div>
                        <div class="order-col">
                            <div>Envío</div>
                            <div><strong>GRATIS</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total">${{user.id|getSubTotal}}</strong></div>
                        </div>
                    </div>
                    <div class="payment-method">
                        {% comment %} <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1">
                            <label for="payment-1">
									<span></span>
									Envío con grua
								</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="terms">
                            <label for="terms">
								<span></span>
								Acepto los <a href="#">Términos y condiciones</a>
							</label>
                        </div> {% endcomment %}
                        <a href="#" class="primary-btn order-submit">Realizar pedido</a>
                    </div>
                    <!-- /Order Details -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->

{% endblock %}