{% extends '../layout/base.html' %}
{% load static %}
{% load utilidades %}
{% block content %}

<div class="section">
    <div class="container">
        <div class="row">

            {% if isEmpty %}

            <div class="col-md-12 col-xs-12">
                <div class="product">
                    <div class="product-body">
                        <h3 class="product-name"><a href="#">No hay datos</a></h3>
                    </div>
                </div>
            </div>

            {% else %}

            {% for item in repuestos %}

            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="{% static item.id|getFotoRepuesto %}" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">{{item.tipo_repuesto}}</p>
                        <h3 class="product-name"><a href="#">{{item.nombre}}</a></h3>
                        <h4 class="product-price">${{item.precio|formatNumber}}{% comment %} <del class="product-old-price">$990.00</del>{% endcomment %}</h4> 
                        {% comment %} <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div> {% endcomment %}
                    </div>
                    <div class="add-to-cart">
                        <a href="{% url 'modificar_repuesto' item.id %}" >
                            <i class="add-to-cart-btn" >Editar</i>
                        </a>
                        <a href="{% url 'delete_repuesto' item.id %}" >
                            <i class="add-to-cart-btn" >Eliminar</i>
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}

            {% for item in autos %}
            
            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="{% static item.patente|getFotoAuto %}" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">{{item.marca}}</p>
                        <h3 class="product-name"><a href="#">{{item.modelo}}</a></h3>
                        <h4 class="product-price">${{item.precio|formatNumber}}{% comment %} <del class="product-old-price">$990.00</del>{% endcomment %}</h4> 
                        {% comment %} <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div> {% endcomment %}
                    </div>
                    <div class="add-to-cart">
                        <a href="{% url 'modificar_auto' item.patente %}" >
                            <i class="add-to-cart-btn" >Editar</i>
                        </a>
                        <a href="{% url 'delete_auto' item.patente %}" >
                            <i class="add-to-cart-btn" >Eliminar</i>
                        </a>
                    </div>
                </div>
            </div>
            
            {% endfor %}

            {% endif %}



        </div>
    </div>
</div>

{% endblock %}