{% extends '../layout/base.html' %}
{% load static %}
{% load utilidades %}
{% block content %}

<div class="section">
    <div class="container">
        <div class="row">

            {% for item in repuestos %}

            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="{% static item.id|getFotoRepuesto %}" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                            <span class="new">NUEVO</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Categoría</p>
                        <h3 class="product-name"><a href="#">{{item.nombre}}</a></h3>
                        <h4 class="product-price">${{item.precio}}{% comment %} <del class="product-old-price">$990.00</del>{% endcomment %}</h4> 
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <a href="{% url 'modificar_repuesto' item.id %}" >
                            <i class="add-to-cart-btn" >Editar</i>
                        </a>
                        <a href="{% url 'delete_repuesto' item.id %}" >
                            <i class="add-to-cart-btn" >Eliminar</i>
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}

            {% for item in autos %}
            
            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="{% static item.id|getFotoAuto %}" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                            <span class="new">NUEVO</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Categoría</p>
                        <h3 class="product-name"><a href="#">{{item.modelo}}</a></h3>
                        <h4 class="product-price">${{item.precio}}{% comment %} <del class="product-old-price">$990.00</del>{% endcomment %}</h4> 
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <a href="{% url 'modificar_auto' item.id %}" >
                            <i class="add-to-cart-btn" >Editar</i>
                        </a>
                        <a href="{% url 'delete_auto' item.id %}" >
                            <i class="add-to-cart-btn" >Eliminar</i>
                        </a>
                    </div>
                </div>
            </div>
            
            {% endfor %}



        </div>
    </div>
</div>

{% endblock %}