{% extends '../layout/base.html' %}
{% load static %}

{% block content %}

<body class="body-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    Ingresar Repuesto
                </div>
                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form name="form_repuestos" enctype="multipart/form-data" role="form" method="post" action="{% url 'form_repuestos' %}">
                            
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-control-label">Foto</label>

                                {{form.foto}}

                                {% comment %} <input type="text" class="form-control"> {% endcomment %}
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Nombre</label>

                                {{form.nombre}}

                                {% comment %} <input type="password" class="form-control" i> {% endcomment %}
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Precio</label>

                                {{form.precio}}

                                {% comment %} <input type="password" class="form-control" i> {% endcomment %}
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Stock</label>

                                {{form.stock}}

                                {% comment %} <input type="password" class="form-control" i> {% endcomment %}
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Tipo de Repuesto</label>
                                <br>
                                {{form.tipo_repuesto}}

                                {% comment %} <input type="password" class="form-control" i> {% endcomment %}
                            </div>

                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="col-lg-6 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary">Ingresar</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                <div class="info_div">
                    <p>Se te olvidó la contraseña? <a class="underlineHover info_div_link" href="#">Ingresa aquí!</a></p>
                </div>
                <div class="col-lg-3 col-md-2"></div>
                <div class="info_div">
                    <p>Aún no te has registrado? <a href="#" class="info_div_link">Regístrate aquí!</a></p>
                </div>
            </div>
        </div>
</body>

</html>
{% endblock %}