{% extends '../layout/base.html' %}
{% load static %}

{% block content %}

<body class="body-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    Modificar Repuesto
                </div>
                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissiblle" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form name="form_repuestos" enctype="multipart/form-data" role="form" method="post" action="{% url 'modificar_repuesto' repuesto.id %}">
                            
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-control-label">Foto</label>

                                {{form.foto}}
                                {% comment %} <input type="text" class="form-control"> {% endcomment %}
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Nombre</label>

                                <input type="text" name="nombre" class="form-control" placeholder="Nombre" autocomplete="off" value="{{repuesto.nombre}}" required="" id="id_nombre">

                                {% comment %} <input type="password" class="form-control" i> {% endcomment %}
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Precio</label>

                                <input type="number" name="precio" class="form-control" value="{{repuesto.precio}}" required="" id="id_precio">

                                {% comment %} <input type="password" class="form-control" i> {% endcomment %}
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Stock</label>

                                <input type="number" name="stock" class="form-control" value="{{repuesto.stock}}" required="" id="id_stock">

                                {% comment %} <input type="password" class="form-control" i> {% endcomment %}
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Tipo de Repuesto</label>
                                <br>
                                {{form.tipo_repuesto}}
                                {% comment %} <input type="password" class="form-control" i> {% endcomment %}
                            </div>

                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="col-lg-6 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary">Ingresar</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
</body>

</html>
{% endblock %}