{% extends '../layout/base.html' %}
{% load static %}
{% load utilidades %}
{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            {% comment %}
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                     <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Categorías</h3>
                        <div class="checkbox-filter">

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-1">
                                <label for="category-1">
										<span></span>
										Vehículos
										<small>(120)</small>
									</label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-2">
                                <label for="category-2">
										<span></span>
										Repuestos
										<small>(740)</small>
									</label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-3">
                                <label for="category-3">
										<span></span>
										Subastas
										<small>(1450)</small>
									</label>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->

                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Marca</h3>
                        <div class="checkbox-filter">
                            <div class="input-checkbox">
                                <input type="checkbox" id="brand-1">
                                <label for="brand-1">
										<span></span>
										SAMSUNG
										<small>(578)</small>
									</label>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="brand-2">
                                <label for="brand-2">
										<span></span>
										LG
										<small>(125)</small>
									</label>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="brand-3">
                                <label for="brand-3">
										<span></span>
										SONY
										<small>(755)</small>
									</label>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="brand-4">
                                <label for="brand-4">
										<span></span>
										SAMSUNG
										<small>(578)</small>
									</label>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="brand-5">
                                <label for="brand-5">
										<span></span>
										LG
										<small>(125)</small>
									</label>
                            </div>
                            <div class="input-checkbox">
                                <input type="checkbox" id="brand-6">
                                <label for="brand-6">
										<span></span>
										SONY
										<small>(755)</small>
									</label>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->

                    <!-- /aside Widget -->
                </div>
                <!-- /ASIDE -->

                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <ul class="store-grid">
                            <li class="active"><i class="fa fa-th"></i></li>
                        </ul>
                    </div>
                    <!-- /store top filter --> {% endcomment %}

                    <!-- store products -->
                    <div class="row">
                        <!-- product -->

                        {% if isEmpty %}

                        <div class="col-md-12 col-xs-12">
                            <div class="product">
                                <div class="product-body">
                                    <h3 class="product-name"><a href="#">No hay Autos</a></h3>
                                </div>
                            </div>
                        </div>
            
                        {% else %}

                        {% for auto in autos %}
                        
                        <div class="col-md-4 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    
                                    <img src="{% static auto.patente|getFotoAuto %}" alt="">
                                    
                                    {% comment %} <div class="product-label">
                                        <span class="sale">-30%</span>
                                        <span class="new">NUEVO</span>
                                    </div> {% endcomment %}
                                </div>
                                <div class="product-body">
                                    <h3 class="product-name"><a href="#">{{auto.modelo}}</a></h3>
                                    <h4 class="product-price">${{auto.precio|formatNumber}}{% comment %} <del class="product-old-price">$990.00</del>{% endcomment %}</h4> 
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <a href="{% url 'store_auto' auto.patente %}" >
                                        <i class="add-to-cart-btn" >Ver producto</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}

                        
                        
                        <!-- /product -->
                    </div>
                    <!-- /store products -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">
                        <ul class="store-pagination">
                            <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                    {% endif %}
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- NEWSLETTER -->
    <br>
    <!-- /NEWSLETTER -->

{% endblock %}